<div class="container-fluid main-container" id="posts">
  <div class="panel panel-defaul">
    <div class="panel-heading">
      <h1>Articles</h1>
    </div>
  </div>
  <div class="panel-body">
    <p style="color: green"><%= notice %></p>

    <div id="posts_list">
      <%= render 'posts_table', data: @posts.where(visible: true)  %>
    <div>
   
    <% if user_signed_in? %>
      <div>
        <%= link_to "New", new_post_path, class: 'btn btn-primary pull-right', method: :get %>
      </div>
    <% end %>
  </div>
</div>


<script>
</script>

